// #ds-reset .ds-avatar img,#ds-reset .ds-avatar img:hover{
//     -webkit-animation-fill-mode: both;
//     -moz-animation-fill-mode: both;
//     -ms-animation-fill-mode: both;
//     -o-animation-fill-mode: both;
//     animation-fill-mode: both;
//     -webkit-animation-duration: 0s;
//     -moz-animation-duration: 0s;
//     -ms-animation-duration: 0s;
//     -o-animation-duration: 0s;
//     animation-duration: 0s;
//     -webkit-animation-duration: 1s;
//     -moz-animation-duration: 1s;
//     -ms-animation-duration: 1s;
//     -o-animation-duration: 1s;
//     animation-duration: 1s;
// }

// @-webkit-keyframes rotateInDownLeft {
//     0% {
//         -webkit-transform-origin: left bottom;
//         -webkit-transform: rotate(-90deg);
//         opacity: 0;
//     }

//     100% {
//         -webkit-transform-origin: left bottom;
//         -webkit-transform: rotate(0);
//         opacity: 1;
//     }
// }

// @-moz-keyframes rotateInDownLeft {
//     0% {
//         -moz-transform-origin: left bottom;
//         -moz-transform: rotate(-90deg);
//         opacity: 0;
//     }

//     100% {
//         -moz-transform-origin: left bottom;
//         -moz-transform: rotate(0);
//         opacity: 1;
//     }
// }

// @-o-keyframes rotateInDownLeft {
//     0% {
//         -o-transform-origin: left bottom;
//         -o-transform: rotate(-90deg);
//         opacity: 0;
//     }

//     100% {
//         -o-transform-origin: left bottom;
//         -o-transform: rotate(0);
//         opacity: 1;
//     }
// }

// @keyframes rotateInDownLeft {
//     0% {
//         transform-origin: left bottom;
//         transform: rotate(-90deg);
//         opacity: 0;
//     }

//     100% {
//         transform-origin: left bottom;
//         transform: rotate(0);
//         opacity: 1;
//     }
// }

// #ds-reset .ds-avatar img{
//     -webkit-animation-name: rotateInDownLeft;
//     -moz-animation-name: rotateInDownLeft;
//     -o-animation-name: rotateInDownLeft;
//     animation-name: rotateInDownLeft;
// }

// #ds-reset .ds-avatar img:hover{
//     -webkit-animation-name: rotateOutDownLeft;
//     -moz-animation-name: rotateOutDownLeft;
//     -o-animation-name: rotateOutDownLeft;
//     animation-name: rotateOutDownLeft;
// }
// @-webkit-keyframes rotateOutDownLeft {
//     0% {
//         -webkit-transform-origin: left bottom;
//         -webkit-transform: rotate(0);
//         opacity: 1;
//     }

//     100% {
//         -webkit-transform-origin: left bottom;
//         -webkit-transform: rotate(90deg);
//         opacity: 0;
//     }
// }

// @-moz-keyframes rotateOutDownLeft {
//     0% {
//         -moz-transform-origin: left bottom;
//         -moz-transform: rotate(0);
//         opacity: 1;
//     }

//     100% {
//         -moz-transform-origin: left bottom;
//         -moz-transform: rotate(90deg);
//         opacity: 0;
//     }
// }

// @-o-keyframes rotateOutDownLeft {
//     0% {
//         -o-transform-origin: left bottom;
//         -o-transform: rotate(0);
//         opacity: 1;
//     }

//     100% {
//         -o-transform-origin: left bottom;
//         -o-transform: rotate(90deg);
//         opacity: 0;
//     }
// }

// @keyframes rotateOutDownLeft {
//     0% {
//         transform-origin: left bottom;
//         transform: rotate(0);
//         opacity: 1;
//     }

//     100% {
//         transform-origin: left bottom;
//         transform: rotate(90deg);
//         opacity: 0;
//     }
// }
// #ds-reset .ds-avatar img,#ds-reset .ds-avatar img:hover{

//     -webkit-animation-fill-mode: both;
//     -moz-animation-fill-mode: both;
//     -ms-animation-fill-mode: both;
//     -o-animation-fill-mode: both;
//     animation-fill-mode: both;
//     -webkit-animation-duration: 0s;
//     -moz-animation-duration: 0s;
//     -ms-animation-duration: 0s;
//     -o-animation-duration: 0s;
//     animation-duration: 0s;
//     -webkit-animation-duration: 0.7s;
//     -moz-animation-duration: 0.7s;
//     -ms-animation-duration: 0.7s;
//     -o-animation-duration: 0.7s;
//     animation-duration: 0.7s;
// }

// @-webkit-keyframes bounceIn {
//     0% {
//         opacity: 0;
//         -webkit-transform: scale(.3);
//     }

//     50% {
//         opacity: 1;
//         -webkit-transform: scale(1.05);
//     }

//     70% {
//         -webkit-transform: scale(.9);
//     }

//     100% {
//         -webkit-transform: scale(1);
//     }
// }

// @-moz-keyframes bounceIn {
//     0% {
//         opacity: 0;
//         -moz-transform: scale(.3);
//     }

//     50% {
//         opacity: 1;
//         -moz-transform: scale(1.05);
//     }

//     70% {
//         -moz-transform: scale(.9);
//     }

//     100% {
//         -moz-transform: scale(1);
//     }
// }

// @-o-keyframes bounceIn {
//     0% {
//         opacity: 0;
//         -o-transform: scale(.3);
//     }

//     50% {
//         opacity: 1;
//         -o-transform: scale(1.05);
//     }

//     70% {
//         -o-transform: scale(.9);
//     }

//     100% {
//         -o-transform: scale(1);
//     }
// }

// @keyframes bounceIn {
//     0% {
//         opacity: 0;
//         transform: scale(.3);
//     }

//     50% {
//         opacity: 1;
//         transform: scale(1.05);
//     }

//     70% {
//         transform: scale(.9);
//     }

//     100% {
//         transform: scale(1);
//     }
// }

// #ds-reset .ds-avatar img {
//     -webkit-animation-name: bounceIn;
//     -moz-animation-name: bounceIn;
//     -o-animation-name: bounceIn;
//     animation-name: bounceIn;
// }
// @-webkit-keyframes bounceOut {
//     0% {
//         -webkit-transform: scale(1);
//     }

//     25% {
//         -webkit-transform: scale(.95);
//     }

//     50% {
//         opacity: 1;
//         -webkit-transform: scale(1.1);
//     }

//     100% {
//         opacity: 0;
//         -webkit-transform: scale(.3);
//     }
// }

// @-moz-keyframes bounceOut {
//     0% {
//         -moz-transform: scale(1);
//     }

//     25% {
//         -moz-transform: scale(.95);
//     }

//     50% {
//         opacity: 1;
//         -moz-transform: scale(1.1);
//     }

//     100% {
//         opacity: 0;
//         -moz-transform: scale(.3);
//     }
// }

// @-o-keyframes bounceOut {
//     0% {
//         -o-transform: scale(1);
//     }

//     25% {
//         -o-transform: scale(.95);
//     }

//     50% {
//         opacity: 1;
//         -o-transform: scale(1.1);
//     }

//     100% {
//         opacity: 0;
//         -o-transform: scale(.3);
//     }
// }

// @keyframes bounceOut {
//     0% {
//         transform: scale(1);
//     }

//     25% {
//         transform: scale(.95);
//     }

//     50% {
//         opacity: 1;
//         transform: scale(1.1);
//     }

//     100% {
//         opacity: 0;
//         transform: scale(.3);
//     }
// }

// #ds-reset .ds-avatar img:hover{
//     -webkit-animation-name: bounceOut;
//     -moz-animation-name: bounceOut;
//     -o-animation-name: bounceOut;
//     animation-name: bounceOut;
// }
// #ds-reset .ds-avatar img,#ds-reset .ds-avatar img:hover{

//     -webkit-animation-fill-mode: both;
//     -moz-animation-fill-mode: both;
//     -ms-animation-fill-mode: both;
//     -o-animation-fill-mode: both;
//     animation-fill-mode: both;
//     -webkit-animation-duration: 0s;
//     -moz-animation-duration: 0s;
//     -ms-animation-duration: 0s;
//     -o-animation-duration: 0s;
//     animation-duration: 0s;
//     -webkit-animation-duration: 0.7s;
//     -moz-animation-duration: 0.7s;
//     -ms-animation-duration: 0.7s;
//     -o-animation-duration: 0.7s;
//     animation-duration: 0.7s;
// }

// @-webkit-keyframes rotateIn {
//     0% {
//         -webkit-transform-origin: center center;
//         -webkit-transform: rotate(-150deg);
//         opacity: 0;
//     }

//     100% {
//         -webkit-transform-origin: center center;
//         -webkit-transform: rotate(0);
//         opacity: 1;
//     }
// }
// @-moz-keyframes rotateIn {
//     0% {
//         -moz-transform-origin: center center;
//         -moz-transform: rotate(-150deg);
//         opacity: 0;
//     }

//     100% {
//         -moz-transform-origin: center center;
//         -moz-transform: rotate(0);
//         opacity: 1;
//     }
// }
// @-o-keyframes rotateIn {
//     0% {
//         -o-transform-origin: center center;
//         -o-transform: rotate(-150deg);
//         opacity: 0;
//     }

//     100% {
//         -o-transform-origin: center center;
//         -o-transform: rotate(0);
//         opacity: 1;
//     }
// }
// @keyframes rotateIn {
//     0% {
//         transform-origin: center center;
//         transform: rotate(-150deg);
//         opacity: 0;
//     }

//     100% {
//         transform-origin: center center;
//         transform: rotate(0);
//         opacity: 1;
//     }
// }

// #ds-reset .ds-avatar img{
//     -webkit-animation-name: rotateIn;
//     -moz-animation-name: rotateIn;
//     -o-animation-name: rotateIn;
//     animation-name: rotateIn;
// }
// @-webkit-keyframes rotateOut {
//     0% {
//         -webkit-transform-origin: center center;
//         -webkit-transform: rotate(0);
//         opacity: 1;
//     }

//     100% {
//         -webkit-transform-origin: center center;
//         -webkit-transform: rotate(150deg);
//         opacity: 0;
//     }
// }

// @-moz-keyframes rotateOut {
//     0% {
//         -moz-transform-origin: center center;
//         -moz-transform: rotate(0);
//         opacity: 1;
//     }

//     100% {
//         -moz-transform-origin: center center;
//         -moz-transform: rotate(150deg);
//         opacity: 0;
//     }
// }

// @-o-keyframes rotateOut {
//     0% {
//         -o-transform-origin: center center;
//         -o-transform: rotate(0);
//         opacity: 1;
//     }

//     100% {
//         -o-transform-origin: center center;
//         -o-transform: rotate(150deg);
//         opacity: 0;
//     }
// }

// @keyframes rotateOut {
//     0% {
//         transform-origin: center center;
//         transform: rotate(0);
//         opacity: 1;
//     }

//     100% {
//         transform-origin: center center;
//         transform: rotate(150deg);
//         opacity: 0;
//     }
// }

// #ds-reset .ds-avatar img:hover{
//     -webkit-animation-name: rotateOut;
//     -moz-animation-name: rotateOut;
//     -o-animation-name: rotateOut;
//     animation-name: rotateOut;
// }

// #ds-reset .ds-avatar img,#ds-reset .ds-avatar img:hover{

//     -webkit-animation-fill-mode: both;
//     -moz-animation-fill-mode: both;
//     -ms-animation-fill-mode: both;
//     -o-animation-fill-mode: both;
//     animation-fill-mode: both;
//     -webkit-animation-duration: 0s;
//     -moz-animation-duration: 0s;
//     -ms-animation-duration: 0s;
//     -o-animation-duration: 0s;
//     animation-duration: 0s;
//     -webkit-animation-duration: 0.7s;
//     -moz-animation-duration: 0.7s;
//     -ms-animation-duration: 0.7s;
//     -o-animation-duration: 0.7s;
//     animation-duration: 0.7s;
// }

// @-webkit-keyframes rollIn {
//     0% { opacity: 0; -webkit-transform: translateX(-100%) rotate(-120deg); }
//     100% { opacity: 1; -webkit-transform: translateX(0px) rotate(0deg); }
// }

// @-moz-keyframes rollIn {
//     0% { opacity: 0; -moz-transform: translateX(-100%) rotate(-120deg); }
//     100% { opacity: 1; -moz-transform: translateX(0px) rotate(0deg); }
// }

// @-o-keyframes rollIn {
//     0% { opacity: 0; -o-transform: translateX(-100%) rotate(-120deg); }
//     100% { opacity: 1; -o-transform: translateX(0px) rotate(0deg); }
// }

// @keyframes rollIn {
//     0% { opacity: 0; transform: translateX(-100%) rotate(-120deg); }
//     100% { opacity: 1; transform: translateX(0px) rotate(0deg); }
// }

// #ds-reset .ds-avatar img{
//     -webkit-animation-name: rollIn;
//     -moz-animation-name: rollIn;
//     -o-animation-name: rollIn;
//     animation-name: rollIn;
// }

// @-webkit-keyframes rollOut {
//     0% {
//         opacity: 1;
//         -webkit-transform: translateX(0px) rotate(0deg);
//     }

//     100% {
//         opacity: 0;
//         -webkit-transform: translateX(100%) rotate(120deg);
//     }
// }

// @-moz-keyframes rollOut {
//     0% {
//         opacity: 1;
//         -moz-transform: translateX(0px) rotate(0deg);
//     }

//     100% {
//         opacity: 0;
//         -moz-transform: translateX(100%) rotate(120deg);
//     }
// }

// @-o-keyframes rollOut {
//     0% {
//         opacity: 1;
//         -o-transform: translateX(0px) rotate(0deg);
//     }

//     100% {
//         opacity: 0;
//         -o-transform: translateX(100%) rotate(120deg);
//     }
// }

// @keyframes rollOut {
//     0% {
//         opacity: 1;
//         transform: translateX(0px) rotate(0deg);
//     }

//     100% {
//         opacity: 0;
//         transform: translateX(100%) rotate(120deg);
//     }
// }

// #ds-reset .ds-avatar img:hover{
//     -webkit-animation-name: rollOut;
//     -moz-animation-name: rollOut;
//     -o-animation-name: rollOut;
//     animation-name: rollOut;
// }

// #ds-reset .ds-avatar img,#ds-reset .ds-avatar img:hover{

//     -webkit-animation-fill-mode: both;
//     -moz-animation-fill-mode: both;
//     -ms-animation-fill-mode: both;
//     -o-animation-fill-mode: both;
//     animation-fill-mode: both;
//     -webkit-animation-duration: 0s;
//     -moz-animation-duration: 0s;
//     -ms-animation-duration: 0s;
//     -o-animation-duration: 0s;
//     animation-duration: 0s;
//     -webkit-animation-duration: 0.7s;
//     -moz-animation-duration: 0.7s;
//     -ms-animation-duration: 0.7s;
//     -o-animation-duration: 0.7s;
//     animation-duration: 0.7s;
// }

@-webkit-keyframes swing {
    20%, 40%, 60%, 80%, 100% { -webkit-transform-origin: top center; }
    20% { -webkit-transform: rotate(15deg); }
    40% { -webkit-transform: rotate(-10deg); }
    60% { -webkit-transform: rotate(5deg); }
    80% { -webkit-transform: rotate(-5deg); }
    100% { -webkit-transform: rotate(0deg); }
}

@-moz-keyframes swing {
    20% { -moz-transform: rotate(15deg); }
    40% { -moz-transform: rotate(-10deg); }
    60% { -moz-transform: rotate(5deg); }
    80% { -moz-transform: rotate(-5deg); }
    100% { -moz-transform: rotate(0deg); }
}

@-o-keyframes swing {
    20% { -o-transform: rotate(15deg); }
    40% { -o-transform: rotate(-10deg); }
    60% { -o-transform: rotate(5deg); }
    80% { -o-transform: rotate(-5deg); }
    100% { -o-transform: rotate(0deg); }
}

@keyframes swing {
    20% { transform: rotate(15deg); }
    40% { transform: rotate(-10deg); }
    60% { transform: rotate(5deg); }
    80% { transform: rotate(-5deg); }
    100% { transform: rotate(0deg); }
}

#ds-reset .ds-avatar img:hover{
    -webkit-transform-origin: top center;
    -moz-transform-origin: top center;
    -o-transform-origin: top center;
    transform-origin: top center;
    -webkit-animation-name: swing;
    -moz-animation-name: swing;
    -o-animation-name: swing;
    animation-name: swing;
}

#ds-reset .ds-avatar img,#ds-reset .ds-avatar img:hover{

    -webkit-animation-fill-mode: both;
    -moz-animation-fill-mode: both;
    -ms-animation-fill-mode: both;
    -o-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-duration: 0s;
    -moz-animation-duration: 0s;
    -ms-animation-duration: 0s;
    -o-animation-duration: 0s;
    animation-duration: 0s;
    -webkit-animation-duration: 0.7s;
    -moz-animation-duration: 0.7s;
    -ms-animation-duration: 0.7s;
    -o-animation-duration: 0.7s;
    animation-duration: 0.7s;
}

// @-webkit-keyframes pulse {
//     0% { -webkit-transform: scale(1); }
//     50% { -webkit-transform: scale(1.1); }
//     100% { -webkit-transform: scale(1); }
// }
// @-moz-keyframes pulse {
//     0% { -moz-transform: scale(1); }
//     50% { -moz-transform: scale(1.1); }
//     100% { -moz-transform: scale(1); }
// }
// @-o-keyframes pulse {
//     0% { -o-transform: scale(1); }
//     50% { -o-transform: scale(1.1); }
//     100% { -o-transform: scale(1); }
// }
// @keyframes pulse {
//     0% { transform: scale(1); }
//     50% { transform: scale(1.1); }
//     100% { transform: scale(1); }
// }

// #ds-reset .ds-avatar img:hover {
//     -webkit-animation-name: pulse;
//     -moz-animation-name: pulse;
//     -o-animation-name: pulse;
//     animation-name: pulse;
// }

// #ds-reset .ds-avatar img,#ds-reset .ds-avatar img:hover{

//     -webkit-animation-fill-mode: both;
//     -moz-animation-fill-mode: both;
//     -ms-animation-fill-mode: both;
//     -o-animation-fill-mode: both;
//     animation-fill-mode: both;
//     -webkit-animation-duration: 0s;
//     -moz-animation-duration: 0s;
//     -ms-animation-duration: 0s;
//     -o-animation-duration: 0s;
//     animation-duration: 0s;
//     -webkit-animation-duration: 0.7s;
//     -moz-animation-duration: 0.7s;
//     -ms-animation-duration: 0.7s;
//     -o-animation-duration: 0.7s;
//     animation-duration: 0.7s;
// }

// @-webkit-keyframes wobble {
//   0% { -webkit-transform: translateX(0%); }
//   15% { -webkit-transform: translateX(-25%) rotate(-5deg); }
//   30% { -webkit-transform: translateX(20%) rotate(3deg); }
//   45% { -webkit-transform: translateX(-15%) rotate(-3deg); }
//   60% { -webkit-transform: translateX(10%) rotate(2deg); }
//   75% { -webkit-transform: translateX(-5%) rotate(-1deg); }
//   100% { -webkit-transform: translateX(0%); }
// }

// @-moz-keyframes wobble {
//   0% { -moz-transform: translateX(0%); }
//   15% { -moz-transform: translateX(-25%) rotate(-5deg); }
//   30% { -moz-transform: translateX(20%) rotate(3deg); }
//   45% { -moz-transform: translateX(-15%) rotate(-3deg); }
//   60% { -moz-transform: translateX(10%) rotate(2deg); }
//   75% { -moz-transform: translateX(-5%) rotate(-1deg); }
//   100% { -moz-transform: translateX(0%); }
// }

// @-o-keyframes wobble {
//   0% { -o-transform: translateX(0%); }
//   15% { -o-transform: translateX(-25%) rotate(-5deg); }
//   30% { -o-transform: translateX(20%) rotate(3deg); }
//   45% { -o-transform: translateX(-15%) rotate(-3deg); }
//   60% { -o-transform: translateX(10%) rotate(2deg); }
//   75% { -o-transform: translateX(-5%) rotate(-1deg); }
//   100% { -o-transform: translateX(0%); }
// }

// @keyframes wobble {
//   0% { transform: translateX(0%); }
//   15% { transform: translateX(-25%) rotate(-5deg); }
//   30% { transform: translateX(20%) rotate(3deg); }
//   45% { transform: translateX(-15%) rotate(-3deg); }
//   60% { transform: translateX(10%) rotate(2deg); }
//   75% { transform: translateX(-5%) rotate(-1deg); }
//   100% { transform: translateX(0%); }
// }

// #ds-reset .ds-avatar img:hover{
//     -webkit-animation-name: wobble;
//     -moz-animation-name: wobble;
//     -o-animation-name: wobble;
//     animation-name: wobble;
// }
// #ds-reset .ds-avatar img{

//     width:54px;height:54px; /*设置图像的长和宽，这里要根据自己的评论框情况更改*/
//     border-radius: 27px;/*设置图像圆角效果,在这里我直接设置了超过width/2的像素，即为圆形*/
//     -webkit-border-radius: 27px;/*圆角效果：兼容webkit浏览器*/
//     -moz-border-radius:27px;
//     box-shadow: inset 0 -1px 0 #3333sf;/*设置图像阴影效果*/
//     -webkit-box-shadow: inset 0 -1px 0 #3333sf;
//     -webkit-transition: 0.4s;
//     -webkit-transition: -webkit-transform 0.4s ease-out;
//     transition: transform 0.4s ease-out;/*变化时间设置为0.4秒(变化动作即为下面的图像旋转360读）*/
//     -moz-transition: -moz-transform 0.4s ease-out;
// }
// #ds-reset .ds-avatar img:hover{/*设置鼠标悬浮在头像时的CSS样式*/
//     box-shadow: 0 0 10px #fff; rgba(255,255,255,.6), inset 0 0 20px rgba(255,255,255,1);
//     -webkit-box-shadow: 0 0 10px #fff; rgba(255,255,255,.6), inset 0 0 20px rgba(255,255,255,1);
//     transform: rotateZ(360deg);/*图像旋转360度*/
//     -webkit-transform: rotateZ(360deg);
//     -moz-transform: rotateZ(360deg);
// }
#ds-thread #ds-reset ul.ds-comments-tabs li.ds-tab a.ds-current {border:0px;color:#848568;text-shadow:none;background:#dddfc2}
#ds-thread #ds-reset .ds-highlight {font-family:Arial, Helvetica, sans-serif;font-size:14px;font-weight:bold;color:#848568 !important;}
#ds-thread #ds-reset ul.ds-comments-tabs li.ds-tab a.ds-current:hover {color:#696a52;background:#d4d6ba}
#ds-thread #ds-reset a.ds-highlight:hover {color:#696a52 !important;}

#ds-thread {padding-left:30px;}
#ds-thread #ds-reset li.ds-post,#ds-thread #ds-reset #ds-hot-posts {overflow:visible}
#ds-thread #ds-reset .ds-post-self {padding:10px 0 10px 10px;}
#ds-thread #ds-reset li.ds-post,#ds-thread #ds-reset .ds-post-self {border:0 !important;}
#ds-reset .ds-avatar, #ds-thread #ds-reset ul.ds-children .ds-avatar {position:absolute;top:26px;left:-14px;padding:5px;width:36px;height:36px;box-shadow:-1px 0 1px rgba(0,0,0,.15) inset;border-radius:46px; background:#E5E6D0;}
#ds-thread #ds-reset ul.ds-children .ds-avatar {left:-23px;}
#ds-thread .ds-avatar a {display:inline-block;padding:1px; width:32px;height:32px;border:1px solid #b9baa6;border-radius:50%; background-color:#fff !important;position:relative;}
#ds-thread .ds-avatar a:hover {border-color:#de5a4e}
#ds-thread .ds-avatar > img {margin:2px 0 0 2px}
#ds-thread #ds-reset .ds-replybox {box-shadow:none;}
#ds-thread #ds-reset ul.ds-children .ds-replybox.ds-inline-replybox a.ds-avatar,
#ds-reset .ds-replybox.ds-inline-replybox a.ds-avatar {left: 0;top: 0; padding: 0;width: 32px !important;height: 32px !important; background: none;box-shadow: none; }
#ds-reset .ds-replybox.ds-inline-replybox a.ds-avatar img {width: 32px !important;height: 32px !important; border-radius:50%;}
#ds-reset .ds-replybox a.ds-avatar,
#ds-reset .ds-replybox .ds-avatar img { padding:0;width:50px !important;height:50px !important; border-radius:5px; }
#ds-reset .ds-avatar img {width:100% !important;height:100% !important;border-radius:50% !important;box-shadow:0 1px 3px rgba(0, 0, 0, 0.22);
                                                        -webkit-transition:.4s all ease-in-out;-moz-transition:.4s all ease-in-out;-o-transition:.4s all ease-in-out;-ms-transition:.4s all ease-in-out;transition:.4s all ease-in-out;
                                                        }
.ds-post-self:hover .ds-avatar img {-webkit-transform:rotate(360deg);-moz-transform:rotate(360deg);-o-transform:rotate(360deg);-ms-transform:rotate(360deg);transform:rotate(360deg);}

#ds-thread #ds-reset .ds-comment-body {background: #F0F0E3;padding:15px 15px 12px 32px;border-radius:5px; box-shadow:0 1px 2px rgba(0,0,0,.15), 0 1px 0 rgba(255,255,255,.75) inset;}

#ds-thread #ds-reset .ds-comment-body p{color:#787968}
#ds-thread #ds-reset .ds-comments a.ds-user-name {font-weight:bold;color:#696A52 !important;}
#ds-thread #ds-reset .ds-comments a.ds-user-name:hover {color:#D32 !important;}

#ds-thread #ds-reset #ds-hot-posts {border:0}
#ds-reset #ds-hot-posts .ds-gradient-bg {background:none;}

#ds-reset #ds-bubble #ds-ctx .ds-ctx-entry {padding:0;}
#ds-reset #ds-bubble .ds-avatar, #ds-reset #ds-bubble #ds-ctx-bubble .ds-avatar a {position:static;padding:0;border:0; background:none;box-shadow:none;}
#ds-reset #ds-bubble .ds-avatar img, #ds-reset #ds-bubble #ds-ctx-bubble .ds-avatar a {width:45px !important;height:45px !important;}
#ds-reset #ds-bubble .ds-user-name{padding-left:13px;}

#ds-reset .ds-comment-body #ds-ctx {border-left:1px solid #b9baa6;background-color:#e8e8dc !important}
#ds-reset #ds-ctx {margin-right:-15px}
#ds-reset #ds-ctx .ds-ctx-entry {position:relative;padding:10px 30px 10px 10px;}
#ds-reset #ds-ctx .ds-ctx-entry .ds-avatar {top:6px;left:5px;background:none;box-shadow:none;}
#ds-reset #ds-ctx .ds-ctx-entry .ds-ctx-body {margin-left:46px;}
#ds-reset #ds-ctx .ds-ctx-entry .ds-ctx-content {color:#787968}
#ds-reset #ds-ctx .ds-ctx-entry .ds-ctx-head a {color:#696A52;font-weight:bold}
